[submodule "libs"]
	path = libs
	url = https://gitlab.futo.org/keyboard/android-libs.git
[submodule "translations"]
	path = translations
	url = https://gitlab.futo.org/keyboard/keyboard-translations-public.git
[submodule "java/assets/themes"]
	path = java/assets/themes
	url = https://gitlab.futo.org/keyboard/seasonal-themes.git
[submodule "java/res-large"]
	path = java/res-large
	url = https://gitlab.futo.org/keyboard/keyboard-large-resources.git
[submodule "java/assets/futo-swipe"]
	path = java/assets/futo-swipe
	url = https://huggingface.co/futo-org/futo-swipe
